<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ARTEMIS DONATE</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="#">Support us</a></li>
        <li><a href="#">Donation Centres</a></li>
        <li><a href="#">Contact Us</a></li>
        <li class="active"><a href="#">Profile</a></li>

      </ul>
    </div>
  </nav>