{% extends "base.html" %}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <a class="btn btn-info" href="/donation">Donate</a>
    <ul class="nav nav-tabs" style="background-color: #2BBBAD;">
    <li class="active"><a data-toggle="tab" href="#home" style="color: #020706;" >Primary books</a></li>
    <li><a data-toggle="tab" href="#menu1" style="color: #020706; font-family: 'Bitter', serif;">Secondary books</a></li>
    <li><a data-toggle="tab" href="#menu2" style="color: #020706; font-family: 'Bitter', serif;">Other books</a></li>
    </ul>
        
    <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h3 style="font-family: 'Bitter', serif;">Primary Books</h3>
        {% if  donations %}

            <p style="font-family: 'Bitter', serif;">{{macro.displayDonations(primarybooks)}}</p>

        {% endif %}      
    
    </div>
    <div id="menu1" class="tab-pane fade">
        <h3 style="font-family: 'Bitter', serif;">Secondary Books</h3>
        {% if donations %}
            
            <p style="font-family: 'Bitter', serif;">{{macro.displayDonations(secondarybooks)}}</p>
        
        {% endif %}      
    
    
    
    </div>
    <div id="menu2" class="tab-pane fade">
        <h3 style="font-family: 'Bitter', serif;">Other Books</h3>
        {% if donations %}
            
            <p style="font-family: 'Bitter', serif;">{{macro.displayDonations(otherbooks)}}</p>

        {% endif %}


    </div>
</div>

{% endblock %}    