{% extends 'base.html' %}
{% import 'macros.html' as macro%}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    {% block styles%}
    {{ super() }}
        <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    {% endblock %}

    
        <div class="jumbotron">
            <h1>Donate books</h1>
            <h3>Help us educate Kenyan children.</h3>

            
            <p>Artemis is a group of individuals who are inspired
                to promote learning and reading habits and skills for students countrywide. We believe
                that through exposure to reading materials, students are able to learn alot, 
                since reading is the major source of knowledge acquisition.
            </p>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container-fluid">
            <div class="col-md-4">

            </div>
        </div>

        

        
        <div class="container">
            <div class="col-md-4">
                {{ wtf.quick_form(comment_form) }}
            </div>
        </div>
        <div class="container">
            {{macro.displayComments(comment)}}
        </div>
        





{% endblock %}
