<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ARTEMIS DONATE</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="{{url_for('main.new_post')}}">Donate</a></li>
        <li><a href="/donations">Donations</a></li>
        <li><a href="/request">Request donations</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">

        {% if current_user.is_authenticated %}

          
          <li ><a href="{{url_for('auth.logout')}}" >Sign out</a></li>
          
        {% else %}
          <li ><a href="{{url_for('auth.login')}}" >Sign in</a></li>
        {% endif%}
        {% if current_user.is_admin == True %}
          <li><a href="/admin">Admin dashboard</a></li>
        {% endif %}

      </ul>
    </div>
  </nav>